@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

.fondo {
  background-color: #e4e4e4; }

/*--------------------navegador baner e incio de pagina ----------------------*/
.inicio {
  font-family: 'Bangers', cursive;
  color: black;
  display: inline-block;
  font-size: 70px;
  display: flexbox;
  margin-top: 5px; }

.baner {
  background-image: url(../images/japonCastillo.jpg);
  margin: 0px auto 0px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 55px;
  text-shadow: 2px 3px 2px #555757;
  text-align: center; }

.ayuda {
  border-radius: 30px;
  display: flexbox;
  height: 100px;
  width: 100px; }

.textnav {
  text-align: left; }

.sociales {
  height: 25px;
  width: 27px;
  background-color: #f8f9fa;
  margin: 5px 5px -1px 5px;
  font-size: 30px; }

/*----------------------- fin de navegador baner e incio de pagina --------------- */
/*------------------------- footer de todas los HTML-------------------------*/
footer {
  color: #ffffff;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 70px 40px 70px 40px;
  background-color: #9dc0ce; }

.titulosfot {
  font-size: 30px;
  text-decoration: underline; }

.datosfot {
  font-size: 18px;
  margin: 10px 0px 10px 5px;
  font-family: none;
  list-style-type: none;
  color: #e0e0e0;
  transition: 0.3s;
  cursor: pointer; }

.datosfot:hover {
  color: white; }

.imgfot {
  height: 23px;
  width: 23px;
  background-color: #9dc0ce; }

.numeros {
  font-family: none; }

.final {
  text-align: center;
  font-size: 30px;
  margin: 70px 50px 50px 50px;
  padding: 30px auto 30px auto; }

.botonfoter {
  margin: 10px 10px 10px 10px;
  padding: 8px;
  background-color: #9dc0ce;
  color: white;
  border-color: white;
  transition: 0.4s;
  cursor: pointer; }

.botonfoter:hover {
  background-color: white;
  color: #9dc0ce; }

/* -------------------------fin de footer de todas los HTML------------------------- */
/*--------------------------------- estilo de index-------------------------------- */
.table {
  margin: 15px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  color: #525552;
  text-shadow: 1px 1px  black;
  text-align: center; }

.subtitulo {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  text-align: center;
  display: block;
  padding: 5px; }

.parrafovideo {
  font-family: Candara, Calibri, "Segoe", "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  padding: 15px;
  color: black; }

h3 {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 25px;
  color: #272727; }

.imgDeViajes {
  width: 100%;
  height: 200px;
  border-radius: 7px 7px 0px 0px;
  border-bottom: solid 2px black; }

.DeViajes {
  transition: 0.7s;
  transform: translateZ(0px);
  border-radius: 7px;
  border: solid 0.3px #bebebe;
  margin: 20px auto 20px auto; }

.DeViajes:hover {
  box-shadow: 1px 1px 1px 5px #939494dc;
  transform: translateZ(0px); }

.preciosdestino {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 0px 0px 7px 7px; }

.presentacionaViajes {
  font-size: 20px;
  font-family: "Segoe UI", "Optima", Arial, sans-serif;
  text-align: center; }

.banerJapon {
  background-image: url(../images/baners/japonbaner.jpg);
  margin: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 40px;
  text-shadow: 2px 3px 2px #b9bebe; }

.banerMExico {
  background-image: url(../images/baners/playamexico2.jpg);
  margin: 15px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 40px;
  text-shadow: 2px 3px 2px #b9bebe; }

.banerfrancia {
  background-image: url(../images/baners/Franciacanales.jpg);
  margin: 15px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 40px;
  text-shadow: 2px 3px 2px #b9bebe; }

.TableroViajesIndex {
  padding: 20px 30px 100px 70px; }

#Indexviaje {
  display: grid;
  grid-template-areas: "Indextitulo    Indextitulo    Indextitulo   Indextitulo";
  grid-template-rows: 60px;
  grid-template-columns: 300px 300px 300px 300px;
  grid-column-gap: 10px;
  grid-row-gap: 100px; }

#Indextitulo {
  grid-area: Indextitulo;
  color: #494947;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 40px; }

.indexTituloViajes {
  color: #494947;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 40px;
  margin: 15px;
  padding: 10px; }

tr td.tablaindex {
  background-color: #ffffff; }

.titulocarrusel {
  margin: 60px 15px 60px 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 55px;
  text-shadow: 2px 3px 2px #555757;
  text-align: center;
  background-color: #e9e9ec;
  border-radius: 14px;
  border: solid 1px #bbc0c8; }

/*------------------------------ fin de estilo de index

-------------------------*/
/*--------------------------------- estilo de contactos-------------------------*/
.contactotitle {
  text-align: center;
  margin: 40px auto 20px auto;
  padding: 10px;
  font-size: 30px;
  color: rgba(32, 32, 32, 0.527);
  text-shadow: 2px;
  text-shadow: black; }

.imagcont {
  background-color: #e4e4e4;
  height: 22px;
  width: 22px; }

.dirección {
  font-size: 20px;
  color: rgba(10, 10, 10, 0.527);
  padding-bottom: 10px;
  padding-top: 0px; }

.imgcontact {
  height: 20px;
  width: 20px;
  background-color: #9dc0ce; }

.nuevatabla {
  margin: 50px 7px 80px 7px;
  padding: 5px; }

.botontlabla {
  margin: 10px 10px 10px 10px;
  padding: 8px;
  background-color: #e4e4e4;
  color: #333232;
  transition: 0.4s;
  border: 1px solid white;
  cursor: pointer;
  text-align: center; }

.botontlabla:hover {
  background-color: white;
  color: #1d1d1da2;
  border: solid 1px black; }

/*-----------------------------inicio de estilo de About us-------------------------*/
.borderTitulo {
  margin: 15px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  color: #525552;
  text-shadow: 1px 1px  black;
  text-align: center;
  margin: 5px; }

p {
  margin: 15px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  color: #525552;
  text-shadow: 1px 1px  black; }

.socio {
  border-radius: 100px;
  height: 200px;
  width: 200px; }

.nombreDeSocio {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  color: #525552;
  text-shadow: 1px 1px  black;
  margin: 20px; }

.borderAbout {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 19px;
  color: #525552;
  text-shadow: 1px 1px  black;
  text-align: center;
  margin: auto; }

.sociosnip {
  margin: 15px;
  padding: 10px;
  border: solid 1px #b1b1b1;
  border-radius: 10px;
  background-color: white;
  transition: 0.8s; }

.sociosnip:hover {
  background-color: #9dc0ce;
  border: solid 1px white; }

/*-------------------------fin estilo about us------------------------------*/
/*------------------------estilo de clientes------------------------------*/
.imgDeClientes {
  width: 90%;
  height: 200px;
  border-radius: 15px;
  border: solid 2px  #a7a4a6; }

.clientesorden {
  margin: 25px 0px 25px 0px;
  padding: 0px 10px 0px 10px; }

.Tableroclientes {
  padding: 50px 0px 50px 0px; }

/*------------------------estilo de clientes------------------------------*/
/*----------------------------inicio de estilo paquetes----------------------*/
.PaquetesTitulo {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  margin: 20px;
  text-align: center; }

h3 {
  color: #68635f;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px; }

tr td.tablaHorariaPacks {
  background-color: #e2ac47; }

tr th.tablaHorariaPacks {
  background-color: #e2ac47; }

table {
  text-align: center; }

.numeros {
  font-family: none; }

.contenedorRow {
  display: flex;
  flex-direction: row; }

.planesRow {
  margin: 5px;
  padding: 10px;
  height: 700px;
  width: 500px;
  display: inline-block; }

@keyframes efecto {
  0% {
    color: darkgoldenrod; }
  15% {
    color: darkgoldenrod; }
  25% {
    color: darkmagenta; }
  50% {
    color: #0fc70f; }
  75% {
    color: darkslateblue; }
  100% {
    color: cyan; } }

.pagos {
  background-color: #b2d1d8;
  padding: 20px;
  margin: 20px 15px 70px 15px;
  border-radius: 23px; }
  .pagos .tajetatitulo {
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    animation: efecto;
    animation-duration: 1.4s;
    animation-iteration-count: infinite; }
  .pagos .tarjetas {
    height: 50px;
    width: 70px;
    margin: 15px auto 10px auto; }
    .pagos .tarjetas .cuotas {
      text-align: center;
      font-family: "Century Gothic", sans-serif;
      font-size: 11px;
      margin: 10px;
      padding: 3px; }

/*----------------------------Fin de estilo paquetes----------------------*/
