* {
  margin: 0px;
  padding: 0px; }

/*--------------------navegador baner e incio de pagina ----------------------*/
.inicio {
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: black;
  display: inline-block;
  font-size: 40px;
  background-color: #81d2d8; }

.baner {
  background-image: url(../images/japonCastillo.jpg);
  margin: 15px auto 15px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 55px;
  text-shadow: 2px 3px 2px #555757;
  text-align: center; }

.ayuda {
  border-radius: 30px;
  display: inline-block;
  height: 30px;
  width: 40px; }

.textnav {
  text-align: left; }

.sociales {
  height: 25px;
  width: 27px;
  background-color: #f8f9fa;
  margin: 5px 5px -1px 5px;
  font-size: 30px; }

/*----------------------- fin de navegador baner e incio de pagina --------------- */
/*------------------------- footer de todas los HTML-------------------------*/
footer {
  text-align: center;
  color: #ffffff;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 25px;
  margin: 0px;
  padding: 70px 40px 70px 40px;
  background-color: #9dc0ce; }

.numeros {
  font-family: none; }

/* -------------------------fin de footer de todas los HTML------------------------- */
/*--------------------------------- estilo de index-------------------------------- */
.table {
  margin: 15px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  color: #525552;
  text-shadow: 1px 1px  black;
  text-align: center; }

.subtitulo {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  text-align: center;
  display: block;
  padding: 5px; }

.parrafovideo {
  font-family: Candara, Calibri, "Segoe", "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  padding: 15px;
  color: black; }

h3 {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 25px;
  color: #272727; }

.bordesyhover {
  border: solid 1px black;
  margin: 0px;
  padding: 0px; }

.imgDeViajes {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  transition: 0,5s;
  cursor: pointer; }

.imgDeViajes:hover {
  width: 100%;
  height: 207px; }

.presentacionaViajes {
  font-size: 20px;
  font-family: "Segoe UI", "Optima", Arial, sans-serif;
  text-align: center; }

.banerJapon {
  background-image: url(../images/baners/japonbaner.jpg);
  margin: 15px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 40px;
  text-shadow: 2px 3px 2px #b9bebe; }

.banerMExico {
  background-image: url(../images/baners/playamexico2.jpg);
  margin: 15px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 40px;
  text-shadow: 2px 3px 2px #b9bebe; }

.banerfrancia {
  background-image: url(../images/baners/Franciacanales.jpg);
  margin: 15px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 40px;
  text-shadow: 2px 3px 2px #b9bebe; }

.TableroViajesIndex {
  padding: 20px 30px 100px 70px; }

#Indexviaje {
  display: grid;
  grid-template-areas: "Indextitulo    Indextitulo    Indextitulo   Indextitulo";
  grid-template-rows: 60px;
  grid-template-columns: 300px 300px 300px 300px;
  grid-column-gap: 10px;
  grid-row-gap: 100px; }

#Indextitulo {
  grid-area: Indextitulo;
  color: #494947;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 40px; }

.indexTituloViajes {
  color: #494947;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 40px;
  margin: 15px;
  padding: 10px; }

tr td.tablaindex {
  background-color: #ffffff; }

.titulocarrusel {
  margin: 60px 15px 60px 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 55px;
  text-shadow: 2px 3px 2px #555757;
  text-align: center;
  background-color: #e9e9ec;
  border-radius: 14px;
  border: solid 1px #bbc0c8; }

.resgistarse {
  margin: 15px;
  padding: 10px;
  border: solid 1px #b1b1b1; }

/*------------------------------ fin de estilo de index-------------------------*/
/*--------------------------------- estilo de contactos-------------------------*/
tr td.tablecontacto {
  background-color: #e2ac47; }

.fromContactos {
  color: #000000d3;
  font-family: "AppleGothic", sans-serif;
  font-size: 15px;
  font-weight: bold; }

.textoDeContacto {
  color: #131212d3; }

.tablecontactotr {
  color: #42413d;
  margin: 25px 25px 25px 25px; }

.contacto {
  color: #2a2927;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 25px;
  padding: 10px 25px 10px 25px;
  margin: 25px 25px 25px 25px; }

.tableContactos {
  text-align: left; }

.tablacontactmini {
  padding: 100px 300px 100px 400px; }

.numeros {
  font-family: none; }

.contenedorRow {
  display: flex;
  flex-direction: row; }

.planesRow {
  margin: 5px;
  padding: 10px;
  height: 700px;
  width: 500px;
  display: inline-block; }

/*-------------------------------fin estilo de contactos-------------------------*/
/*-----------------------------inicio de estilo de About us-------------------------*/
.borderTitulo {
  margin: 15px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  color: #525552;
  text-shadow: 1px 1px  black;
  text-align: center;
  margin: 5px; }

p {
  margin: 15px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  color: #525552;
  text-shadow: 1px 1px  black; }

.socio {
  border-radius: 100px;
  height: 200px;
  width: 200px; }

.nombreDeSocio {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  color: #525552;
  text-shadow: 1px 1px  black;
  margin: 20px; }

.borderAbout {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 19px;
  color: #525552;
  text-shadow: 1px 1px  black;
  text-align: center;
  margin: 5px auto 5px auto; }

/*-------------------------fin estilo about us------------------------------*/
/*----------------------------inicio de estilo paquetes----------------------*/
.PaquetesTitulo {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  margin: 20px;
  text-align: center; }

h3 {
  color: #68635f;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px; }

tr td.tablaHorariaPacks {
  background-color: #e2ac47; }

tr th.tablaHorariaPacks {
  background-color: #e2ac47; }

table {
  text-align: center; }

.numeros {
  font-family: none; }

.contenedorRow {
  display: flex;
  flex-direction: row; }

.planesRow {
  margin: 5px;
  padding: 10px;
  height: 700px;
  width: 500px;
  display: inline-block; }

.pagos {
  background-color: #b2d1d8;
  padding: 20px;
  margin: 20px 15px 70px 15px;
  border-radius: 23px; }
  .pagos .tajetatitulo {
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif; }
  .pagos .tarjetas {
    height: 50px;
    width: 70px;
    margin: 15px auto 10px auto; }
    .pagos .tarjetas .cuotas {
      text-align: center;
      font-family: "Century Gothic", sans-serif;
      font-size: 11px;
      margin: 10px;
      padding: 3px; }

/*----------------------------Fin de estilo paquetes----------------------*/
/*------------------------estilo de clientes------------------------------*/
.imgDeClientes {
  width: 90%;
  height: 200px;
  border-radius: 15px;
  border: solid 5px  #89577f; }

.clientesorden {
  margin: 25px 0px 25px 0px;
  padding: 0px 10px 0px 10px; }

.Tableroclientes {
  padding: 50px 0px 50px 0px; }

/*------------------------estilo de clientes------------------------------*/
