@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

.fondo {
  background-color: #e4e4e4; }

/*--------------------navegador baner e incio de pagina ----------------------*/
.inicio {
  font-family: 'Bangers', cursive;
  color: black;
  background-image: linear-gradient(to right, #e39233, #e59d38, #e8a83e, #e9b344, #ebbe4c, #f6bc64, #fdbc7b, #ffbe91, #ffc1b9, #faccd9, #e9d9e7, #e4e4e4);
  font-size: 40px;
  margin: auto;
  padding: auto; }

.logonip:hover {
  text-decoration: none; }

.baner {
  background-image: url(../images/japonCastillo.jpg);
  margin: 0px auto 0px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 55px;
  text-shadow: 2px 3px 2px #555757;
  text-align: center;
  font-weight: bold; }

.ayuda {
  border-radius: 30px;
  margin-left: -15px;
  height: 50px;
  width: 50px; }

.navcolor {
  background-color: white; }

.textonavegador {
  font-size: 20px;
  color: rgba(100, 108, 110, 0.712);
  display: block;
  padding: 5px 20px 5px 1px;
  transition: 0.6s;
  font-family: 'Alfa Slab One', cursive; }

.textonavegador:hover {
  text-decoration: none;
  color: #db8e35; }

.textpacksdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem; }

.textopacks {
  font-size: 20px;
  color: rgba(100, 108, 110, 0.712);
  display: block;
  padding: 0.5rem 5px;
  transition: 0.6s;
  font-family: 'Alfa Slab One', cursive; }

.textopacks:hover {
  text-decoration: none;
  color: #db8e35; }

.sociales {
  height: 25px;
  width: 27px;
  background-color: #f8f9fa;
  margin: 5px 5px -1px 5px;
  font-size: 30px; }

/*----------------------- fin de navegador baner e incio de pagina --------------- */
/*------------------------- footer de todas los HTML-------------------------*/
footer {
  color: #ffffff;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 70px 40px 70px 40px;
  background-color: #9dc0ce; }

.titulosfot {
  font-size: 30px;
  text-decoration: underline; }

.datosfot {
  font-size: 18px;
  margin: 10px 0px 10px 5px;
  font-family: none;
  list-style-type: none;
  color: #e0e0e0;
  transition: 0.3s;
  cursor: pointer; }

.datosfot:hover {
  color: #f6f6da; }

.imgfot {
  height: 23px;
  width: 23px;
  background-color: #9dc0ce; }

.numeros {
  font-family: none; }

.final {
  text-align: center;
  font-size: 30px;
  margin: 70px 50px 50px 50px;
  padding: 30px auto 30px auto; }

.botonfoter {
  margin: 10px 10px 10px 10px;
  padding: 8px;
  background-color: #9dc0ce;
  color: white;
  border-color: white;
  transition: 0.4s;
  cursor: pointer; }

.botonfoter:hover {
  background-color: white;
  color: #9dc0ce; }

/* -------------------------fin de footer de todas los HTML------------------------- */
/*--------------------------------- estilo de index-------------------------------- */
.avisocovid {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ffacac;
  color: #cc0101;
  border: solid 0.7px #c20000;
  border-radius: 10px;
  margin: 10px;
  font-family: 'Alfa Slab One', cursive;
  padding: 5px 10px 5px 10px;
  font-size: 20px; }

.table {
  margin: 15px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  color: #525552;
  text-shadow: 1px 1px  black;
  text-align: center; }

.subtitulo {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 35px;
  text-align: center;
  display: block;
  padding: 5px; }

.parrafovideo {
  font-family: Candara, Calibri, "Segoe", "Segoe UI", sans-serif;
  font-size: 20px;
  padding: 12px;
  color: #2e2d2d; }

.indexvideos {
  margin: 20px auto 30px auto; }

.grilla {
  display: grid;
  position: relative;
  grid-template-columns: 70% 30%;
  grid-template-rows: 40px 25px 30px 15px;
  grid-template-areas: "pais pais" "lugar lugar2" "precio precio2" "exprecio exprecio2"; }

.pais {
  grid-area: pais;
  font-size: 30px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  text-align: center; }

.pais2 {
  grid-area: pais2; }

.lugar {
  grid-area: lugar;
  font-weight: bold;
  font-size: 15px; }

.lugar2 {
  grid-area: lugar2; }

.precio {
  grid-area: precio;
  font-size: 12px; }

.precio2 {
  grid-area: precio2;
  font-size: 14px;
  text-align: right;
  font-weight: bold; }

.exprecio {
  grid-area: exprecio; }

.exprecio2 {
  grid-area: exprecio2;
  color: red;
  font-size: 12px;
  text-align: right;
  text-decoration: line-through; }

.imgDeViajes {
  width: 100%;
  height: 200px;
  border-radius: 7px 7px 0px 0px;
  border-bottom: solid 2px black; }

.DeViajes {
  transition: 0.7s;
  transform: translateZ(0px);
  border-radius: 7px;
  border: solid 0.3px #bebebe;
  margin: 20px auto 20px auto; }

.DeViajes:hover {
  box-shadow: 1px 1px 1px 5px  #a3a3a3;
  transform: translateZ(0px); }

.preciosdestino {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 0px 0px 7px 7px; }

.presentacionaViajes {
  font-size: 20px;
  font-family: "Segoe UI", "Optima", Arial, sans-serif;
  text-align: center; }

.banerJapon {
  background-image: url(../images/baners/japonbaner.jpg);
  margin: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 40px;
  text-shadow: 2px 3px 2px #b9bebe; }

.banerMExico {
  background-image: url(../images/baners/playamexico2.jpg);
  margin: 15px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 40px;
  text-shadow: 2px 3px 2px #b9bebe; }

.banerfrancia {
  background-image: url(../images/baners/Franciacanales.jpg);
  margin: 15px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  color: #ffffff;
  font-size: 40px;
  text-shadow: 2px 3px 2px #b9bebe; }

.TableroViajesIndex {
  padding: 20px 30px 100px 70px; }

.indexTituloViajes {
  color: #494947;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 40px;
  margin: 15px;
  padding: 10px; }

.titulocarrusel {
  margin: 40px 11px 40px 11px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px;
  font-family: 'Alfa Slab One', cursive;
  color: #ffffffd8;
  font-size: 55px;
  text-shadow: 2px 3px 2px #555757;
  text-align: center;
  background-color: #b9dcf0;
  border-radius: 14px;
  border: solid 1px #bbc0c8; }

/*------------------------------ fin de estilo de index

-------------------------*/
/*--------------------------------- estilo de contactos-------------------------*/
.contactotitle {
  text-align: center;
  margin: 40px auto 20px auto;
  padding: 10px;
  font-size: 30px;
  color: rgba(32, 32, 32, 0.527);
  text-shadow: 2px;
  text-shadow: black;
  font-family: 'Alfa Slab One', cursive; }

.imagcont {
  background-color: #e4e4e4;
  height: 22px;
  width: 22px; }

.dirección {
  font-size: 20px;
  color: rgba(10, 10, 10, 0.527);
  padding-bottom: 10px;
  padding-top: 0px; }

.imgcontact {
  height: 20px;
  width: 20px;
  background-color: #9dc0ce; }

.nuevatabla {
  margin: 50px 7px 80px 7px;
  padding: 5px; }

.botontlabla {
  margin: 10px 10px 10px 10px;
  padding: 8px;
  background-color: #e4e4e4;
  color: #333232;
  transition: 0.4s;
  border: 1px solid white;
  cursor: pointer;
  text-align: center; }

.botontlabla:hover {
  background-color: white;
  color: #1d1d1da2;
  border: solid 1px black; }

/*-----------------------------inicio de estilo de About us-------------------------*/
.borderTitulo {
  margin: 15px;
  font-family: 'Archivo Black', sans-serif;
  font-size: 35px;
  color: #525552;
  text-shadow: 1px 1px  black;
  text-align: center;
  margin: 5px; }

p {
  margin: 15px;
  padding-top: 10px;
  font-family: 'Nova Cut', cursive;
  font-size: 20px;
  color: #525552;
  text-shadow: 1px 1px  black; }

.socio {
  border-radius: 100px;
  height: 200px;
  width: 200px; }

.nombreDeSocio {
  font-family: 'Archivo Black', sans-serif;
  font-size: 30px;
  color: #525552;
  text-shadow: 1px 1px  black;
  margin: 20px; }

.borderAbout {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 19px;
  color: #525552;
  text-shadow: 1px 1px  black;
  text-align: center;
  border-radius: 5px; }

.centro {
  justify-content: center;
  align-items: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Archivo Black', sans-serif; }

.sociosnip {
  margin: 15px;
  padding: 10px;
  border: solid 1px #b1b1b1;
  border-radius: 10px;
  background-color: white;
  transition: 0.8s; }

.sociosnip:hover {
  background-color: #9dc0ce;
  border: solid 1px white; }

/*-------------------------fin estilo about us------------------------------*/
/*------------------------estilo de clientes------------------------------*/
.clientesgeneral {
  padding: 20px auto 20px auto;
  margin: 15px; }

.tablaComentarios {
  font-size: 25px;
  padding: 20px auto 20px;
  border: solid 0.5px grey;
  margin: 15px;
  border-radius: 7px;
  background-color: #ffffffd7; }

.titulocomentarios {
  font-size: 25px;
  margin: 10px auto 10px auto; }

.criticasmargen {
  margin: 15px 5px auto 5px; }

.imagenclientes {
  height: 270px;
  width: 270px;
  border-radius: 7px;
  border: solid #9dc0ce 2px;
  margin-bottom: 15px; }

.margenicono {
  margin: 0px auto 5px 4px; }

@keyframes estrellas {
  0% {
    color: darkgoldenrod; }
  20% {
    color: darkgoldenrod; }
  40% {
    color: darkmagenta; }
  60% {
    color: #0fc70f; }
  80% {
    color: darkslateblue; }
  100% {
    color: cyan; } }

.estrellas:hover {
  animation: estrellas;
  cursor: pointer;
  transition: 0.5s;
  animation-duration: 2s; }

.botoncliente {
  margin: 3px 9px 3px 9px;
  padding: 3px 5px 6px 5px;
  background-color: #ffffffd7;
  color: #3e6a70;
  font-size: 20px;
  transition: 0.4s;
  border: 1px solid #222121;
  cursor: pointer;
  text-align: center; }

.botoncliente:hover {
  background-color: #3abd3ada;
  color: #fdfdfd;
  border: solid 1px black; }

.iconocalificacion1 {
  color: rgba(255, 0, 0, 0.746); }

.iconocalificacion2 {
  color: #e07c2a; }

.iconocalificacion3 {
  color: rgba(255, 255, 0, 0.801); }

.iconocalificacion4 {
  color: #00bd00; }

.iconocalificacion5 {
  color: rgba(0, 255, 170, 0.87); }

/*------------------------estilo de clientes------------------------------*/
/*----------------------------inicio de estilo paquetes----------------------*/
.tituloplanes {
  margin: 40px auto 0px 10px;
  font-size: 25px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  animation: oferta;
  animation-duration: 1.4s;
  animation-iteration-count: infinite; }

.titulooff {
  margin: 5px auto 20px 10px;
  font-size: 25px;
  font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif; }

@keyframes oferta {
  0% {
    color: darkgoldenrod; }
  15% {
    color: darkgoldenrod; }
  25% {
    color: darkmagenta; }
  50% {
    color: #0fc70f; }
  75% {
    color: darkslateblue; }
  100% {
    color: cyan; } }

.presentacionaViajesplanes {
  font-size: 30px;
  font-family: "Segoe UI", "Optima", Arial, sans-serif;
  margin: 40px auto 15px 0px; }

.viajesplanes {
  transition: 0.8s;
  transform: translateZ(0px);
  border-radius: 2em 2em 1em 1em;
  border: solid 0.3px #bebebe;
  margin: 20px auto 20px auto; }

.viajesplanes:hover {
  background-color: #8bb8cae7; }

.imagesplanes {
  width: 100%;
  height: 200px;
  border-radius: 1em 1em 0em 0em;
  border-bottom: solid 1px black; }

.preciosplanes {
  margin: 10px 7px 12px 7px; }

.preciosplanes:hover {
  transition: 0.8s;
  border-radius: 7px;
  cursor: pointer; }

.grillaplanes {
  display: grid;
  position: relative;
  grid-template-columns: 70% 30%;
  grid-template-rows: 40px 25px 30px 15px;
  grid-template-areas: "pais pais" "lugar lugar2" "precio precio2" "exprecio exprecio2"; }

.paisplan {
  grid-area: pais;
  font-size: 30px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  text-align: center; }

.paisplan2 {
  grid-area: pais2; }

.lugarplan {
  grid-area: lugar;
  font-weight: bold;
  font-size: 15px; }

.lugarplan2 {
  grid-area: lugar2; }

.precioplan {
  grid-area: precio;
  font-size: 12px; }

.precioplan2 {
  grid-area: precio2;
  font-size: 14px;
  text-align: right;
  font-weight: bold; }

.exprecioplan {
  grid-area: exprecio; }

.exprecioplan2 {
  grid-area: exprecio2;
  color: red;
  font-size: 12px;
  text-align: right;
  text-decoration: line-through; }

.preciosplanes {
  padding: 7px;
  border-radius: 0px 0px 7px 7px; }

@keyframes efecto {
  0% {
    color: darkgoldenrod; }
  15% {
    color: darkgoldenrod; }
  25% {
    color: darkmagenta; }
  50% {
    color: #0fc70f; }
  75% {
    color: darkslateblue; }
  100% {
    color: cyan; } }

.pagos {
  background-color: #b2d1d8;
  padding: 20px;
  margin: 20px 15px 70px 15px;
  border-radius: 23px; }
  .pagos .tajetatitulo {
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    animation: efecto;
    animation-duration: 1.4s;
    animation-iteration-count: infinite; }
  .pagos .tarjetas {
    height: 40px;
    width: 60px;
    margin: 15px auto 10px auto;
    border-radius: 7px; }
    .pagos .tarjetas .cuotas {
      text-align: center;
      font-family: 'Alfa Slab One', cursive;
      font-size: 9px;
      margin: 10px;
      padding: 3px; }

/*----------------------------Fin de estilo paquetes----------------------*/
