/*-----------------------------inicio de estilo de About us-------------------------*/





.borderTitulo{  
    margin:15px;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 35px;
    color: #525552;
    text-shadow:1px 1px  black ;
    text-align: center;
    margin :5px;
}

p {
    margin:15px;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 20px;
    color: #525552;
    text-shadow:1px 1px  black ;
  }
.socio{
    border-radius: 100px;
    height: 200px;
    width: 200px;
}
.nombreDeSocio{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 35px;
    color: #525552;
    text-shadow:1px 1px  black ;
    margin: 20px;
  }

  .borderAbout{
    
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 19px;
    color: #525552;
    text-shadow:1px 1px  black ;
    text-align: center;
    margin: 5px auto 5px auto;
   
  }

/*-------------------------fin estilo about us------------------------------*/