/*-----------------------------inicio de estilo de About us-------------------------*/





.borderTitulo{  
    margin:15px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 35px;
    color: #525552;
    text-shadow:1px 1px  black ;
    text-align: center;
    margin :5px;
}

p {
    margin:15px;
    padding-top: 10px;
    font-family: 'Nova Cut', cursive;
     font-size: 20px;
    color: #525552;
    text-shadow:1px 1px  black ;
  }

.socio{
    border-radius: 100px;
    height: 200px;
    width: 200px;
}
.nombreDeSocio{
  font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    color: #525552;
    text-shadow:1px 1px  black ;
    margin: 20px;
  }
 

  .borderAbout {
    
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 19px;
    color: #525552;
    text-shadow:1px 1px  black ;
    text-align: center; 
    border-radius: 5px;
  }
    .centro{
      justify-content: center;
      align-items: center;
      align-items: center;
      font-size: 20px;
      font-family: 'Archivo Black', sans-serif;

      
      
    }
  
  .sociosnip{
    margin: 15px;
    padding: 10px;
    border: solid 1px rgb(177, 177, 177);
    border-radius: 10px;
    background-color: white ;
    transition: 0.8s;


}
.sociosnip:hover{
  background-color: #9dc0ce  ;
  border: solid 1px white;

}

/*-------------------------fin estilo about us------------------------------*/