/*------------------------estilo de clientes------------------------------*/

.clientesgeneral{
    padding:20px auto 20px auto;
    
    margin: 15px;
}

.tablaComentarios{

    font-size :25px; 
    padding:20px auto 20px;
    border: solid 0.5px grey;
    margin: 15px;
    border-radius: 7px;
    background-color: #ffffffd7;
}
.titulocomentarios{
    font-size :25px; 
    margin: 10px auto 10px auto;
}


.criticasmargen{
    margin :15px 5px auto 5px;
}

.imagenclientes{
    height: 270px;
    width: 270px;
    border-radius: 7px;
    border:solid #9dc0ce 2px;
    margin-bottom: 15px;
}
    .margenicono{
        margin: 0px auto 5px 4px;
    }
    
    @keyframes estrellas{
        0%{ color:darkgoldenrod; }
        20%{ color:darkgoldenrod; }
        40%{ color:darkmagenta; }
        60%{color :rgb(15, 199, 15);}
        80%{ color:darkslateblue; }
        100%{ color:cyan; }
        
    }
    .estrellas:hover{
        animation: estrellas;
        cursor: pointer;
        transition: 0.5s;
        animation-duration: 2s;
        
    }

 .botoncliente{
   margin: 3px 9px 3px 9px;
   padding: 3px 5px 6px 5px;
    background-color:#ffffffd7 ;
    color: rgb(62, 106, 112);
    font-size: 20px;
    transition: 0.4s;
    border:1px solid rgb(34, 33, 33);
    cursor: pointer;
    text-align: center;
    }
    .botoncliente:hover{
     background-color:   #3abd3ada;
      color: rgb(253, 253, 253);
      border: solid 1px black;

    }

    .iconocalificacion1{
        color: rgba(255, 0, 0, 0.746);
    }
    .iconocalificacion2{
        color: rgb(224, 124, 42);
    }
    .iconocalificacion3{
        color:rgba(255, 255, 0, 0.801);
    }
    .iconocalificacion4{
        color: rgb(0, 189, 0);
    }
    .iconocalificacion5{
        color:rgba(0, 255, 170, 0.87);
    }

/*------------------------estilo de clientes------------------------------*/