/*------------------------estilo de clientes------------------------------*/




.imgDeClientes{
    width: 90%;
    height:200px ;
    border-radius: 15px;
    border:solid 2px  #a7a4a6 ;
    
}

   .clientesorden{
    margin: 25px 0px 25px 0px;
    
    padding:0px 10px 0px 10px;
    
   } 



.Tableroclientes{
    padding: 50px 0px 50px 0px;
}





/*------------------------estilo de clientes------------------------------*/