$letrasfooter:15px;


/*------------------------- footer de todas los HTML-------------------------*/
footer {
    
    color: #ffffff;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: $letrasfooter;
    margin: 0px;
    padding: 70px 40px 70px 40px;
    background-color: #9dc0ce;
 }
  

.titulosfot{
  font-size: 30px;
  text-decoration: underline;
}
.datosfot{
  font-size: 18px;
  margin: 10px 0px 10px 5px;
  font-family: none;
  list-style-type: none;
  color: #e0e0e0 ;
  transition: 0.3s;
  cursor: pointer;
    
}
.datosfot:hover{
  color: rgb(246, 246, 218);
}

.imgfot{
  height: 23px;
  width: 23px;
  background-color: #9dc0ce;

}



  .numeros {
    font-family: none; }
  
    .final{
      text-align: center;
      
      font-size: 30px;
      margin :70px 50px 50px 50px;
      padding: 30px auto 30px auto;
    }

    .botonfoter{margin:10px 10px 10px 10px;
      padding:8px ;
      background-color:#9dc0ce ;
      color: white;
      border-color: white;
      transition: 0.4s;
      cursor: pointer;

    }
    .botonfoter:hover{
      background-color: rgb(255, 255, 255);
      color: #9dc0ce ;

    }

  /* -------------------------fin de footer de todas los HTML------------------------- */