$letrasfooter:25px;


/*------------------------- footer de todas los HTML-------------------------*/
footer {
    text-align: center;
    color: #ffffff;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: $letrasfooter;
    margin: 0px;
    padding: 70px 40px 70px 40px;
    background-color: #9dc0ce;
 }
  
  .numeros {
    font-family: none; }
  
  /* -------------------------fin de footer de todas los HTML------------------------- */