/*--------------------------------- estilo de index-------------------------------- */

.avisocovid{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 172, 172) ;
    color: rgb(204, 1, 1);
    border:solid 0.7px rgb(194, 0, 0);
    border-radius: 10px;
    margin: 10px;
    font-family: 'Alfa Slab One', cursive;
    
    padding: 5px 10px 5px 10px;
    
    font-size: 20px;

}  


.table{
    margin:15px;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 35px;
    color: #525552;
    text-shadow:1px 1px  black ;
    text-align: center;
    
    }
    .subtitulo{
        font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 35px;
        text-align: center;
        display: block;
        padding: 5px;
    }
    .parrafovideo {
        font-family: Candara, Calibri, "Segoe", "Segoe UI", sans-serif;
        font-size: 20px;
        padding: 12px;
        color: rgb(46, 45, 45);
        
        
    }
    .indexvideos{
        margin: 20px auto 30px auto;
    }
    
   .grilla{
       display: grid;
       position: relative;
       grid-template-columns: 70% 30%;
       grid-template-rows: 40px 25px 30px 15px;
       grid-template-areas: 
       "pais pais"
       "lugar lugar2"
       "precio precio2"
       "exprecio exprecio2";
       
       } 

       
     
       .pais{
           grid-area:pais ;
           font-size: 30px;
           font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
           font-weight: bold;
           text-align:center;
       }
        .pais2{
            grid-area: pais2;
        }
        .lugar{
            grid-area: lugar;
            font-weight: bold;
            font-size: 15px;
        }
        .lugar2{
            grid-area: lugar2;
        }
        .precio{
            grid-area: precio;
            font-size: 12px;
            
            
        }
        .precio2{
            grid-area: precio2;
            font-size: 14px;
            text-align: right;
            font-weight: bold;
        }
        .exprecio{
            grid-area: exprecio;
        }
        .exprecio2{
            grid-area: exprecio2;
            color: red;
            font-size:12px ; 
            text-align: right;
            
            text-decoration:line-through;
        }

    .imgDeViajes{
        
        width: 100%;
        height:200px ;
        border-radius: 7px 7px 0px 0px;
        border-bottom:solid 2px black;
        
        
    }

    .DeViajes{
        transition: 0.7s;
        transform: translateZ(0px);
        border-radius: 7px ;
        border:solid 0.3px rgb(190, 190, 190);
        margin: 20px auto 20px auto;
    }

    .DeViajes:hover{
       box-shadow:  1px 1px 1px 5px  #a3a3a3;
       transform: translateZ(0px);

    }

    .preciosdestino{
        padding: 7px;
        background-color: rgba(255, 255, 255, 0.938);
        border-radius: 0px 0px 7px 7px;
       
    }
    .presentacionaViajes{
        font-size: 20px;
        font-family:  "Segoe UI", "Optima", Arial, sans-serif;
        text-align: center;

    }


    .banerJapon{ 
        background-image: url(../images/baners/japonbaner.jpg);
        margin: 0px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 50px;
        font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif; 
        color:#ffffff ;
        font-size: 40px;
        text-shadow: 2px 3px 2px #b9bebe ;
        }

    .banerMExico{ 
            background-image: url(../images/baners/playamexico2.jpg);
            margin: 15px 0px 0px 0px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 50px;
            font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif; 
            color:#ffffff ;
            font-size: 40px;
            text-shadow: 2px 3px 2px #b9bebe ;
            }
    .banerfrancia{background-image: url(../images/baners/Franciacanales.jpg);
                margin: 15px 0px 0px 0px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                padding: 50px;
                font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif; 
                color:#ffffff ;
                font-size: 40px;
                text-shadow: 2px 3px 2px #b9bebe ;
                }

.TableroViajesIndex{
        padding:20px 30px 100px 70px;

}

  
      .indexTituloViajes{
        color: #494947;
        font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; 
        font-size: 40px;
        margin: 15px;
        padding: 10px;
    }
      
         




.titulocarrusel{
    margin: 40px 11px 40px 11px  ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px;
    font-family: 'Alfa Slab One', cursive; 
    color:#ffffffd8 ;
    font-size: 55px;
    text-shadow: 2px 3px 2px #555757 ;
    text-align: center;
    background-color:  #b9dcf0;
    border-radius:14px ;
    border:solid 1px #bbc0c8 ;
    }




/*------------------------------ fin de estilo de index

-------------------------*/

