/*----------------------------inicio de estilo paquetes----------------------*/

.tituloplanes{
        
        margin: 40px auto 0px 10px;
        font-size: 25px;
        font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
        animation: oferta;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        
}
.titulooff{
    margin: 5px auto 20px 10px;
        font-size: 25px;
        font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
        
}
@keyframes oferta{
    0%{ color:darkgoldenrod; }
    15%{ color:darkgoldenrod; }
    25%{ color:darkmagenta; }
    50%{color :rgb(15, 199, 15);}
    75%{ color:darkslateblue; }
    100%{ color:cyan; }
}
        .presentacionaViajesplanes{
            font-size: 30px;
            font-family:  "Segoe UI", "Optima", Arial, sans-serif;
            margin: 40px auto 15px 0px;
            
    
        }
    
.viajesplanes{
    transition: 0.8s;
        transform: translateZ(0px);
        border-radius: 2em 2em 1em 1em;
        border:solid 0.3px rgb(190, 190, 190);
        margin: 20px auto 20px auto;
        
}

.viajesplanes:hover{
    background-color:#8bb8cae7 ;
    
}
.imagesplanes{
        width: 100%;
        height:200px ;
        border-radius: 1em 1em 0em 0em;
        border-bottom:solid 1px black;
}
.preciosplanes{
    margin: 10px 7px 12px 7px;
    
    text-shadow: 0.5px 0.5px 0.5px black ;
}
.preciosplanes:hover{
    transition: 0.8s;
    border-radius: 7px ;
    cursor: pointer;
       
}

.grillaplanes{
    display: grid;
    position: relative;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40px 25px 30px 15px;
    grid-template-areas: 
    "pais pais"
    "lugar lugar2"
    "precio precio2"
    "exprecio exprecio2";
    
    } 

    
  
    .paisplan{
        grid-area:pais ;
        font-size: 30px;
        font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        font-weight: bold;
        text-align:center;
    }
     .paisplan2{
         grid-area: pais2;
     }
     .lugarplan{
         grid-area: lugar;
         font-weight: bold;
         font-size: 15px;
     }
     .lugarplan2{
         grid-area: lugar2;
     }
     .precioplan{
         grid-area: precio;
         font-size: 12px;
         
         
     }
     .precioplan2{
         grid-area: precio2;
         font-size: 14px;
         text-align: right;
         font-weight: bold;
     }
     .exprecioplan{
         grid-area: exprecio;
     }
     .exprecioplan2{
         grid-area: exprecio2;
         color: red;
         font-size:12px ; 
         text-align: right;
         
         text-decoration:line-through;
     }
     .preciosplanes{
        padding: 7px;
        
        border-radius: 0px 0px 7px 7px;
     }


@keyframes efecto{
    0%{ color:darkgoldenrod; }
    15%{ color:darkgoldenrod; }
    25%{ color:darkmagenta; }
    50%{color :rgb(15, 199, 15);}
    75%{ color:darkslateblue; }
    100%{ color:cyan; }
}


.pagos{
    background-color: rgb(178, 209, 216);
    padding: 20px;
    margin: 20px 15px 70px 15px;
    border-radius :23px; 
    
    
    .tajetatitulo{
        text-align: center;
        margin: 10px auto 10px auto;
        font-size: 25px;
        font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
        animation: efecto;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
                }
    .tarjetas{
       height: 50px;
        width: 70px;
        margin: 15px auto 10px auto;
        .cuotas{
            text-align: center;
            font-family: "Century Gothic", sans-serif;
            font-size: 11px;
            margin: 10px;
            padding: 3px;
        }
    }
}


/*----------------------------Fin de estilo paquetes----------------------*/

