*{
    margin: 0px;
    padding: 0px;
}
.fondo {
    background-color: #e4e4e4;
}

@import "HeaderYBaner";
  
    
@import "footer";


@import"index";  


@import"contactos";


@import"aboutUs";


@import"clientes";


@import"paquetes";
