*{
    margin: 0px;
    padding: 0px;
}
.fondo {
    background-color: rgba(235, 224, 224, 0.815);
}

@import "HeaderYBaner";
  
    
@import "footer";


@import"index";  


@import"contactos";


@import"aboutUs";


@import"clientes";


@import"paquetes";
